
h1 {
    text-align: center;
    margin-bottom: 5px;
    font-family: "Oswald";
    margin-top: 5px;
}


.moneyinfo h2 {
    text-align: left;
    margin-bottom: 5px;
    font-family: "Oswald";
    color: #B2351A;
    margin-top: 5px;
}
.moneyinfo div p {
    font-size: 20px;
    height: 20px;
    margin-left: auto;    
}
.moneyinfo div {
    display: flex;
    align-items: center;
}
#itemlist {
    display: flex;
    flex-direction: column;

}
#itemlist h2 {
    align-self: flex-start;
}
#itemlist .itemlists {
    font-family: "Barlow Condensed";
    flex-direction: column;
    align-items: center;
    color: #2cb280;
    font-size: 20px;
    padding: 0;
    margin: 0;
}
.itemlists li {
    padding: 1px 3px;
}
.moneyinfo {
    display: flex;
    flex-direction: column;
}
.emailinfo {
    background-color: white;
    width: 90%;
    height: 50%;
    padding: 15px;
    margin: auto;
    box-shadow: 0px 5px 5px 0px lightgray;
    text-align: center;
}
.emailinfo p {
    font-family: "Barlow Condensed";
    color: #2cb280;
    text-align: left;
    margin-left: 10px;
}
.emailinfo input {
    width: 90%;

}
.emailinfo button {
margin: 15px 0px;
border: 1px solid #2cb280;
padding: 5px 15px;
font-size: 15px;
width: 35%;
}

.emailinfo button:hover {
    border: 1px solid#b2351a;
}

.emailinfo input::-webkit-input-placeholder {
    color: #2cb280;
    font-size: 16px;
}


@media screen and (min-width: 750px) {
    .moneyinfo h2 {
        padding-left: 20px;
    }
    .emailinfo p {
        padding-right: 20px;
    }
}   

@media screen and (min-width: 900px){
    .emailinfo{
    width: 50%;
}
}