#map {
    height: 25rem;
    width: 100%;
    margin-top: 20px;
  }

.progressBar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-family: "Barlow Condensed";
  padding: 10px;
}
progress{
  width: 90%;
  height: 30px;
}
.progressInfo {
  position: fixed;
  bottom: 0;
  right: 0;
}

.barHeader{
  text-align: center;
  font-size: 20px;
  color: #B2351A;
  font-family: 'Oswald';
  margin-bottom:-25px;
}
.progressBar p {
font-family: 'Oswald';
padding-bottom: 30px;
}
.progressinfo {
    background-color:rgb(236, 250, 244);
}

progress {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  height: 30px;
  width: 200px;
  margin: 2px;
}
progress::-webkit-progress-bar {
  background: #ccc;
  box-shadow: inset 0px 0px 10px 5px #aaa;
  border-radius: 20px;
}
progress::-webkit-progress-value {
  background-image: repeating-linear-gradient(45deg, #58FFC2, #A6FFDB 8px, #58FFC2 8px, #A6FFDB 16px);
  border-radius: 20px;
}
