.menucontainer {
  font-family: "Barlow Condensed";
  margin-bottom: 200px;
  position: relative;
  display: grid;
  margin-top: 35px;
  grid-template-columns: 100%;
  margin-left: auto;
  margin-right: auto;
}


.box1, .box2, .box3 {
  display: flex;
  flex-direction: column; 
  -webkit-box-shadow: -1px -12px 57px -8px rgba(178,53,26,.5);
  -moz-box-shadow: -1px -12px 57px -8px rgba(178,53,26,.5);
  box-shadow: -1px -12px 57px -8px rgba(178,53,26,.5);
  background-color: rgba(255, 118, 88, .5);
  padding: 20px;
  padding-top: 0px;
  border-radius: 10px;
  /* width: 90%; */
  margin-bottom: 10px; 
  height: 300px;
  width: auto;
  overflow: scroll;
}

.typeFood{
  overflow: scroll;
}

  h3 {
  text-align: center;
  font-size: 25px;
  padding-top: 0px;
  font-family: "Barlow Condensed"
}

.name, .price {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Barlow Condensed";
  font-size: 20px;
}

.menuitems {
  padding: 8px;
  margin: 10px;
  width: 90%;
  height: 20%;
  border-radius: 10px;
  color:#2CB280;
  display: flex;
  justify-content: space-between;
  background-color: rgb(236, 250, 244);
}

.over {
  color:white ;
  background-color: #FF7658;
  padding: 10px;
  border-radius: 10px;
  cursor: not-allowed;
}

#overbudget {
 background-color: rgb(236, 250, 244);
 box-shadow: 0px 5px 5px 0px gray;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  font-family: "Barlow Condensed";
  font-size: 30px;
  position: absolute;
  top: -213px;
  right: 0;
  text-align: center;
}
.overbudgetbuttons {
  text-align: center;
  justify-content: center;
}
#overbudget button {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: #a6ffdb;
    font-family: "Barlow Condensed";
    font-size: 18px;
    border: none;
    color: #2cb280;
}

#overbudget div {
  display: flex;
  position: relative;
}


 
@media screen and (min-width: 750px) {
  .box1, .box2, .box3 {
    width: 50%;
    margin: auto;

  }
  .menucontainer {
    grid-gap: 15px;
  }


}

@media screen and (min-width: 900px){
   .menucontainer {
    display:grid;
  
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    justify-items: stretch;
    }

     .box1, .box2, .box3 {
     width: 90%;
   }

   #overbudget{
    justify-content: center;
    background-color: rgb(236, 250, 244);
    box-shadow: 0px 5px 5px 0px grey;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    font-family: "Barlow Condensed";
    font-size: 30px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -200%);
    width: 40%;
    text-align: center;
}
}
