.restaurantshit {
  width: 60%;
  height: 80;
  background-color: white;
  box-shadow: 0px 5px 5px 0px lightgray;
  margin: auto;
  padding: 20px;
  text-align: center;
  margin-bottom: 200px;
}
.restaurantname {
  text-align: center;
  margin-bottom: 10px;
}

.profileContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
  }
  .picture {
    width: 70%;
    height: 70%;
    margin: 10px;
    border: 5px solid #2cb280;
  }
  .address, .number {
    font-family: "Barlow Condensed";
    color: #2cb280;
    font-size: 18px;
    display: block;
    text-align: center;
    padding: 0px;
  }
  .link {
    font-family: "Barlow Condensed";

    font-size: 18px;
  }

  h1 {
    font-family: "Oswald";
    color: #B2351A;
  }
  .menubutton {
    display: flex;
    justify-content: center;
  }
  .progressinfo {
  position: fixed;
  bottom: 0;
  width: 100%;
  right: 0;
}

.pngBut{
  width: 40%;
  height: 88%;
}

.pngBut:hover{
  content: url("butHov.png");
  width: 40%;
  height: 88%;
}


