.restaurantshit {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.restaurantname {
  text-align: center;
  margin-bottom: 10px;
}

.profileContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
  }
  .picture {
    width: 50%;
    height: 50%;
    margin: auto;
  }
  .address, .link, .number {
    font-family: "Barlow Condensed";
    display: block;
    text-align: center;
    padding: 5px;
  }
  a {
    text-decoration: none;
  }
  h1 {
    font-family: "Oswald";
    color: #B2351A;
  }
  .menubutton {
    display: flex;
    justify-content: center;
  }

