<div class="cartContainer">
    <h3>Items Ordered</h3>
        <ul class="itemWrap" ng-repeat="items in $ctrl.tab track by $index">
            <li>{{items.name}} </li><p>${{items.price}}</p><i class="material-icons" ng-click="$ctrl.remove($index,items);" hover-state>clear</i>
        </ul>
    <h3>Tip</h3>
    <div class="tipButtons">
        <button>15%</button>
        <button>20%</button>
        <button>25%</button>
    </div>
    <h3>Total: an angular expression</h3>
    <div class="emailButton">
        <a href="#!/email"><button>EMAIL DIS</button></a>
    </div>
</div>



<h6 class="barHeader">Your Budget Bar</h6>
<div class="progressBar">
    <progress id = "budget" value="{{$ctrl.budget}}" max="{{$ctrl.initialBudget}}"></progress>
    <p>${{$ctrl.budget}}</p>
</div>
    

