<h1>Email</h1>

<div class="emailContainer">

    <div class="emailInfo">
        <form >
            <input type="text" ng-model="$ctrl.userEmail" placeholder="Email Address">
            <p>Budget: ${{$ctrl.initialBudget}}</p>
            <p>Total:$ {{$ctrl.total}}</p>
            <p> Items Ordered: 
                <ul class="itemWrap" ng-repeat="items in $ctrl.tab track by $index">
                    <li>{{items.name}} ${{items.price}}</li>                                                                 
                </ul>
            </p>
            <input type="textarea" ng-model="$ctrl.comment" placeholder="Leave a comment!">
            <a href="#!/home">
                <button type="button" ng-click="$ctrl.sendEmail($ctrl.userEmail, $ctrl.comment, $ctrl.total, $ctrl.initialBudget);" >Send</button>
            </a>
        </form>
    </div>


</div>




