
<div class="pageTransition">
<div class="emailContainer">
       
    <div class="emailinfo">
            <h1>EMAIL</h1>
        <form >
            <input type="text" ng-model="$ctrl.userEmail" placeholder="Email Address">
            <p>Budget: ${{$ctrl.initialBudget + $ctrl.tip}}</p>
            <p>Total:${{$ctrl.total}}</p>
            <p>New Tip:${{$ctrl.newtip}}</p>
            <p>Grand total:$å{{$ctrl.total + $ctrl.newtip}}</p>
            <p> Items Ordered: 
                <ul class="itemWrap" ng-repeat="items in $ctrl.tab track by $index">
                    <li>{{items.name}} ${{items.price}}</li>                                                                 
                </ul>
            </p>
            <input type="textarea" ng-model="$ctrl.comment" placeholder="Leave a comment!">
            <a href="#!/home">
                <button type="button" class="button" ng-click="$ctrl.sendEmail($ctrl.userEmail, $ctrl.comment, $ctrl.total, $ctrl.initialBudget, $ctrl.tab);" >SEND </button>
            </a>
        </form>
    </div>


</div>
</div>
