<div>
<h1>What's in your pocket?</h1>
<div> 
	<button ng-click="$ctrl.submitBudget(10)" href="map.html">$10</button>
	<button ng-click="$ctrl.submitBudget(20)" href="map.html">$20</button>
	<button ng-click="$ctrl.submitBudget(30)" href="map.html">$30</button>
	<button ng-click="$ctrl.submitBudget(40)" href="map.html">$40</button>
</div>
<div>
	<input type="text" name="budget" placeholder="personalized budget" ng-model="$ctrl.custom">
	<button ng-click="$ctrl.submitBudget($ctrl.custom)" href="map.html">Submit</button>
</div>
</div>
