

	<div class="images">
		<div class="imageone">
			<img id="ffd" src="images/fflogo.png">
		</div>
		<div class="imagetwo">
 			<img id="mymap" src="images/corktownmap.png">  
 		</div>
	</div>
<div id="budgetchooser">
	<div class="budgetcontainer">
			<h1>WHAT'S IN YOUR POCKET?</h1>
			</div>
			<div class="moneybuttons">
		<button class="button" ng-click="$ctrl.submitBudget(10)" >$10</button>
		<button class="button" ng-click="$ctrl.submitBudget(20)">$20</button>
		<button class="button" ng-click="$ctrl.submitBudget(30)">$30</button>
		<button class="button" ng-click="$ctrl.submitBudget(40)">$40</button>
			</div>
			
	<div class= "choosebudget">
		<input type="number" name="budget" placeholder="personalized budget" ng-model="$ctrl.custom">
		<button class="button" ng-click="$ctrl.submitBudget($ctrl.custom)">SUBMIT</button>
	</div>
	</div>
	<div id="choosetip">
		<div class="tipWrap">
			<h1>DON'T FORGET A TIP</h1>
				<div class="tipbuttonWrap">
					<button class="button" ng-click="$ctrl.tipOne()">15%</button>
					<button class="button" ng-click="$ctrl.tipTwo()">20%</button>
					<button class="button" ng-click="$ctrl.tipThree()">25%</button>
					<a href="#!/map"><button class="submitbutton">SUBMIT</button></a>
				</div>
				<div id="tipbar">${{$ctrl.tip}}</div>
			</div>
	</div>
