<div class="pageTransition">
<h1>MENU of {{$ctrl.info.name}}</h1>
<div class="menucontainer">
 <div class="box1">
    <h3>APPETIZERS </h3>
  <div class="typeFood">
        <button ng-click="$ctrl.add(item);" class="menuitems" ng-repeat="item in $ctrl.menu track by $index" ng-show="item.type === 'appetizer'" ng-class="item.over">
        <span class="name">{{item.name}}</span><span class="price">${{item.price}} + </span>
        </button>
     </div>
     </div>
 <div class="box2">
    <h3>SIDES</h3> 
     <div class="typeFood">
      <button ng-click="$ctrl.add(item);" class="menuitems"  ng-repeat="item in $ctrl.menu track by $index" ng-show="item.type === 'side dish'" ng-class="item.over">
       <span class="name">{{item.name}}</span><span class="price">${{item.price}} + </span>
      </button>
    </div>
    </div>
    <div class="box3">
      <h3>ENTREES </h3> 
      <div class="typeFood">
        <button ng-click="$ctrl.add(item);"  class="menuitems" ng-repeat="item in $ctrl.menu track by $index" ng-show="item.type === 'main dish'" ng-class="item.over">
        <span class="name">{{item.name}}</span><span class="price">${{item.price}} + </span>
        </button>
     </div>
</div>
</div>
</div>
<div class="progressinfo">
<h6 class="barHeader">YOUR BUDGET BAR</h6>
<div class="progressBar">
    <progress id = "budget" value="{{$ctrl.budget}}" max="{{$ctrl.initialBudget}}"></progress>
    <p>${{$ctrl.budget}}</p>
</div>
<div id="overbudget">
  <div>	You have gone over your set budget! Would you like to adjust the budget? <br> </div>
	<div class="overbudgetbuttons"> 
    <a href="#!/home">
        <button>yes</button>
    </a>
    <button ng-click="$ctrl.overbudgetRemove()">no</button>
  </div>

</div>
