body{
  background-color: rgb(236, 250, 244);
}
.nav {
  height: 15%;
  background-color: #a6ffdb;
  margin: 1rem;
}
ul {
  list-style-type: none;
  font-family: sans-serif;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  flex-direction: row;
  font-family: "Barlow Condensed";
  font-size: 18px;
}
li {
  padding: 14px 3px;
  text-align: center;
}
a {
  text-decoration: none;
  color: #2cb280;
  padding: 14px;
}
a:hover {
  color:#b2351a;
  background-color: rgb(236, 250, 244);
}

/* HOME PAGE */
.logo {
  display: flex;
  justify-content: center;
}
#ffd {
 width: 60%;
 height: 60%;
 
}
.map {
  display: flex;
  justify-content: center;
}
#mymap {
  width: 80%;
  height: 80%;
}
.intro{
  font-size: 20px;
  color: #B2351A;
  font-family: 'Oswald';
}

.budgetContainer{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;

}

.budgetButtons{
  margin-bottom: 20px;
}
button {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #a6ffdb;
  font-family: "Barlow Condensed";
  font-size: 18px;
  border: none;
  color: #2cb280;
}

button:hover {
  color:#b2351a;

}
.budgetInput{
  padding: 5px;
}
input {
  background-color: #a6ffdb;
  padding: 20px;
  border: none;
  color:#b2351a;
  font-family: "Barlow Condensed";
  font-size: 16px;
}
.budgetInput::-webkit-input-placeholder {
    color: #2cb280;
    font-size: 16px;
}

/* END OF HOME PAGE */


/* MAP PAGE */

#map {
    height: 500px;
    width: 100%;
    margin-top: 20px;
  }

.progressBar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
progress{
  width: 90%;
  height: 30px;
}

.barHeader{
  text-align: center;
  font-size: 32px;
  color: #B2351A;
  font-family: 'Lucida Sans';
  margin-bottom:-25px;
}

/* END OF MAP PAGE */

/* PROFILE PAGE */
.profileContainer{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

/* END OF PROFILE PAGE */

/* MENU PAGE OMNOMNOMNOM */
.menuConatiner{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}


/* END OF MENU PAGE*/

/* CART PAGE */
.itemWrap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tipButtons{

}

.emailButton{

}

/* END OF CART PAGE */

/* EMAIL PAGE */

.emailContainer{

}

.emailInfo{

}

/* END OF EMAIL PAGE */
